@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap');

body {
  font-family: Epilogue;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 34px;
  text-align: center;
  padding-block: 35px;
  background-color: #f1e3d3;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #7c7676;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
.page__container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 15px;
}
.footer {
  text-align: center;
  font-size: 28px;
  letter-spacing: 4px;
  line-height: 50px;
  background-color: #f1e3d3;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #7c7676;
}

/* --///////////////////////////////////-- */
.page {
  background: #28293e;
  padding-block: 92px 83px;
}
.page__heading {
  padding-block: 46px 96px;
}
.section-heading__pre-label {
  color: #ef6d58;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section-heading__title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
}
.section-heading__title:not(:last-child) {
  margin-bottom: 36px;
}
.section-heading__menu {
  display: flex;
  column-gap: 60px;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 68px;
}
.menu__item {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  transition-duration: 0.2s;
}
.menu__item:hover {
  color: #fff;
  transition-duration: 0.3s;
}
.menu__item--active {
  color: #fff;
}
.portfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 64px;
  justify-content: center;
}
.portfolio__item {
  position: relative;
  flex: 1 0 470px;
  width: 100%;
  aspect-ratio: 470 / 416;
  overflow: hidden;
  transition-duration: 0.5s;
  border-radius: 7px;
}
.portfolio__item:nth-child(4n + 2),
.portfolio__item:nth-child(4n + 3) {
  flex: 1 0 670px;
  width: 100%;
  aspect-ratio: 670/416;
}
.portfolio__image {
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition-duration: 0.3s;
}
.portfolio__item:hover img {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.portfolio__content {
  width: 100%;
  height: 100%;
  padding: 51px 48px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 23px;
}
.portfolio__category {
  border-radius: 19px;
  background: #fff;
  padding: 5px 16px;
  text-align: center;
  color: #391400;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  transition-duration: 0.2s;
}
.portfolio__text {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
}
.page__main-button {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 18px 30px;
  transition-duration: 0.2s;
}
.page__main-button:hover {
  color: black;
  background: #fff;
  transition-duration: 0.3s;
}
.page__button--center {
  text-align: center;
}

/* --//////////////////////////////////-- */

.page__contact-us {
  padding-block: 96px 70px;
}
.contact-us__block {
  display: flex;
  gap: 25px;
  border-radius: 6px;
  background: #fdf0e9;
  padding-inline: 100px;
}
.contact-us__rectangle {
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  text-align: center;
  margin-top: 60px;
}
.contact-us__heading {
  max-width: 248px;
}
.section-heading__icon {
  position: relative;
  left: -16px;
}
.section-heading__icon img {
  position: absolute;
  top: -75px;
}
.contact-us__heading .section-heading__pre-label {
  padding-top: 92px;
  margin-bottom: 13px;
  text-align: left;
}
.section-heading__header {
  color: #391400;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 23px;
}
.page__main-button--contact {
  border-radius: 6px;
  background: #ef6d58;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding: 18px 32px;
  transition-duration: 0.2s;
}
.page__main-button--contact:hover {
  color: black;
  background: white;
  transition-duration: 0.3s;
}
.contact-us__rectangle {
  position: relative;
  flex-basis: 338px;
  padding-bottom: 16px;
}
.contact-us__rectangle img {
  position: relative;
  max-width: 100%;
  padding-top: 20px;
}
.contact-us__person {
  position: relative;
  flex-basis: 294px;
  align-self: flex-end;
  padding-left: 53px;
  margin-top: -60px;
}
.contact-us__person::before {
  content: '';
  position: absolute;
  left: 0;
  top: 85px;
  width: 282px;
  height: 242px;
  background: url('../img/08_Path.png') left center / contain no-repeat;
}
.contact-us__person img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

/* --//////////////////////////////////-- */

.page__events {
  padding-block: 70px;
}
.page__events-heading .section-heading__title {
  margin-bottom: 64px;
}
.events__cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 64px;
}
.events__card {
  flex-basis: 370px;
  border-radius: 6px;
  border: 1px solid #3a3c56;
  padding: 36px 40px;
}
.card__header {
  padding-bottom: 36px;
  border-bottom: 1px solid #3a3c56;
  margin-bottom: 40px;
}
.card__data {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}
.card__number {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
}
.card__text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  max-width: 127px;
  padding-top: 5px;
}
.card__time {
  display: flex;
  gap: 8px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.card__time::before {
  content: '';
  width: 16px;
  height: 16px;
  background: url('../img/09_clock_icon.svg') center / 16px no-repeat;
  align-items: baseline;
  align-self: center;
}
.info__title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 19px;
}
.info__text {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 26px;
}
.info__button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  transition-duration: 0.2s;
}
.info__button:hover {
  color: #ef6d58;
  transition-duration: 0.3s;
}

/* ================================================== */

.page__team {
  padding-block: 70px 90px;
}
.team__header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.team__heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 531px;
}
.team__heading .section-heading__pre-label {
  text-align: left;
}
.team__heading .section-heading__title {
  text-align: left;
}
.team__slider {
  display: flex;
  gap: 16px;
  align-self: flex-end;
}
.slider__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #3a3c56;
  border-radius: 50%;
  transition-duration: 0.2s;
}
.slider__arrow:hover {
  background-color: #ef6d58;
  transition-duration: 0.3s;
}
.team__teammates {
  display: flex;
  gap: 30px;
  margin-bottom: 52px;
}
.teammates__card {
  display: flex;
  flex-basis: 270px;
  flex-direction: column;
  gap: 25px;
}
.teammates__photo {
  display: flex;
  height: 270px;
  border-radius: 6px;
  border: 1px solid #3a3c56;
  align-items: flex-end;
  justify-content: center;
}
.teammates__photo img {
  max-width: 100%;
}
.teammates__name {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 3px;
}
.teammates__position {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.page__teammates-slider {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}
.page__teammates-slider :first-child {
  background-color: #ef6d58;
}
.teammates-slider__item {
  width: 12px;
  height: 12px;
  border: 1px solid #3a3c56;
  border-radius: 50%;
}

/* ========================================================= */

.page__founder {
  display: flex;
  gap: 130px;
  padding-block: 90px 93px;
}
.founder__photo {
  flex-basis: 570px;
  background: url('../img/16_background.png') 0 0 / 570px no-repeat;
  text-align: center;
  padding-top: 28px;
  padding-inline: 42px 51px;
}

.founder__text {
  flex-basis: 470px;
  padding-top: 44px;
}
.founder__heading {
  padding-block-start: 44px;
}
.founder__heading .section-heading__pre-label {
  text-align: left;
}
.founder__heading .section-heading__title {
  text-align: left;
  margin-bottom: 44px;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
}
.section-heading__name {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 6px;
}
.section-heading__position {
  color: rgba(255, 255, 255, 0.64);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
