@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap');

body {
  font-family: Epilogue;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 34px;
  margin-block: 25px;
  text-align: center;
  margin-inline: 15px;
  padding-block: 15px;
  background-color: #f1e3d3;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #7c7676;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
.main__container {
  max-width: 1170px;
  margin: 0 auto;
  padding-block-start: 92px;
}
.footer {
  text-align: center;
  font-size: 28px;
  letter-spacing: 4px;
  line-height: 50px;
  background-color: #f1e3d3;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #7c7676;
}

.main {
  background: #28293e;
}
.main__pre-label {
  color: #ef6d58;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.main__pre-label--margin {
  margin-bottom: 20px;
}
.main__title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
}
.main__title--margin {
  margin-bottom: 36px;
}
.main__menu--margin {
  margin-bottom: 68px;
}
.main__menu {
  display: flex;
  column-gap: 60px;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menu__item {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.main__portfolio--margin {
  margin-bottom: 64px;
}
.portfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.portfolio__item {
  position: relative;
  inline-size: 470px;
  block-size: 416px;
}
.portfolio__item:nth-child(4n + 2),
.portfolio__item:nth-child(4n + 3) {
  inline-size: 670px;
}
.portfolio__image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  position: absolute;
}
.portfolio__content {
  width: 100%;
  height: 100%;
  padding: 51px 48px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 23px;
}
.portfolio__button {
  border-radius: 19px;
  background: #fff;
  padding: 5px 16px;
  text-align: center;
  color: #391400;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  transition-duration: 0.2s;
}
.portfolio__button:hover {
  color: #fff;
  background-color: darkslateblue;
  transition-duration: 0.3s;
}
.portfolio__text {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
}
.main__button--margin {
  margin-bottom: 192px;
}
.main__button {
  text-align: center;
}
.explore__btn {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 18px 30px;
  transition-duration: 0.2s;
}
.explore__btn:hover {
  color: black;
  background: #fff;
  transition-duration: 0.3s;
}
.main__contact-us--margin {
  margin-bottom: 140px;
}
.main__contact-us {
  border-radius: 6px;
  background: #fdf0e9;
  padding: 47px 100px;
}
.contact-us__block {
  display: flex;
  gap: 25px;
}
.contact-us__item--margin-block {
  margin-top: 33px;
  margin-bottom: 17px;
}
.contact-us__item {
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}
.item__icon {
  position: relative;
  padding-bottom: 7px;
  left: -16px;
}
.item__img {
  position: absolute;
  top: -155px;
}
.item__pre-label {
  padding-top: 12px;
  color: #ef6d58;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.item__pre-label--margin {
  margin-bottom: 13px;
}
.item__header {
  color: #391400;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.item__header--margin {
  margin-bottom: 23px;
}
.item__button {
  border-radius: 6px;
  background: #ef6d58;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding: 18px 32px;
  transition-duration: 0.2s;
}
.item__button:hover {
  color: black;
  background: white;
  transition-duration: 0.3s;
}
.item__pictures {
  position: relative;
}
.item__cloud {
  position: absolute;
}
.item__person {
  position: absolute;
  top: -98px;
  left: 56px;
}
.main__events--margin {
  margin-bottom: 140px;
}
.main__events-header {
  padding-inline: 372px;
}
.main__events-header--margin {
  margin-bottom: 64px;
}
.events__cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.events__cards--margin {
  margin-bottom: 64px;
}
.events__card {
  flex-basis: 370px;
  border-radius: 6px;
  border: 1px solid #3a3c56;
  padding: 36px 40px;
}
.card__header {
  padding-bottom: 36px;
  border-bottom: 1px solid #3a3c56;
}
.card__header--margin {
  margin-bottom: 40px;
}
.card__data {
  display: flex;
  gap: 12px;
}
.card__data--margin {
  margin-bottom: 8px;
}
.card__number {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
}
.card__text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  max-width: 127px;
  padding-top: 5px;
}
.card__time {
  display: flex;
  gap: 8px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.card__time::before {
  content: '';
  width: 16px;
  height: 16px;
  background: url('../img/09_clock_icon.svg') center / 16px no-repeat;
  align-items: baseline;
  align-self: center;
}
.info__title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.info__title--margin {
  margin-bottom: 19px;
}
.info__text {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.info__text--margin {
  margin-bottom: 26px;
}
.info__button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  transition-duration: 0.2s;
}
.info__button:hover {
  color: #ef6d58;
  transition-duration: 0.3s;
}
.main__team--margin {
  margin-bottom: 180px;
}
.team__header-container {
  display: flex;
  justify-content: space-between;
}
.team__header-container--margin {
  margin-bottom: 64px;
}
.team__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 531px;
}
.team__pre-label {
  color: #ef6d58;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.team__title {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
}
.team__slider {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}
.slider__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #3a3c56;
  border-radius: 50%;
  transition-duration: 0.2s;
}
.slider__arrow:hover {
  background-color: #ef6d58;
  transition-duration: 0.3s;
}
.team__teammates {
  display: flex;
  gap: 30px;
}
.team__teammates--margin {
  margin-bottom: 52px;
}
.teammates__card {
  display: flex;
  flex-basis: 270px;
  flex-direction: column;
  gap: 25px;
}
.teammates__photo {
  display: flex;
  height: 270px;
  border-radius: 6px;
  border: 1px solid #3a3c56;
  align-items: flex-end;
  justify-content: center;
}
.teammates__name {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.teammates__name--margin {
  margin-bottom: 3px;
}
.teammates__position {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.main__teammates-slider {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}
.main__teammates-slider :first-child {
  background-color: #ef6d58;
}
.teammates-slider__item {
  width: 12px;
  height: 12px;
  border: 1px solid #3a3c56;
  border-radius: 50%;
}
.main__founder {
  display: flex;
  gap: 130px;
}
.main__founder--margin {
  margin-bottom: 176px;
}
.founder__photo {
  flex-basis: 570px;
}
.founder__text {
  flex-basis: 470px;
  padding-top: 44px;
}
.founder__pre-label {
  color: #ef6d58;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.founder__pre-label--margin {
  margin-bottom: 33px;
}
.founder__title {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
}
.founder__title--margin {
  margin-bottom: 44px;
}
.founder__name {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.founder__name--margin {
  margin-bottom: 6px;
}
.founder__position {
  color: rgba(255, 255, 255, 0.64);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.founder__photo {
  flex-basis: 570px;
  background: url('../img/16_background.png') 0 0 / 570px no-repeat;
  text-align: center;
  padding-top: 27px;
}
